<!-- Displaying appliance questions -->
<div id="appliances" class="display-header">
    <h5>
        <a href="#applianceSizing" data-toggle="collapse" onclick="change_arrow($(this));">
            Appliances
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="applianceSizing" class="collapse">
        <form id="appliancesForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="appliancesFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="appliance_questions[name]">
                </div>

                <% include Appliances/EditApplianceDetailsApplianceSizing.ejs %>
                <% include Appliances/EditApplianceDetailsForSE.ejs %>

                <br>
                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" maxlength="5000" rows="5" name="appliance_questions[comments]" placeholder="5000 characters max" form="appliancesForm"><%= appliance_questions.comments %></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">
