<!-- Displaying usage questions -->
<div id="usage" class="display-header">
    <h5>
        <a href="#usageContainer" data-toggle="collapse" onclick="change_arrow($(this));">
            Usage
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="usageContainer" class="collapse">
        <form id="usageForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="usageFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="usage_questions[name]">
                </div>

                <% include Usage/EditUsageSupervision.ejs %>
                <% include Usage/EditUsageStubbing.ejs %>
                <% include Usage/EditUsagePST.ejs %>
                <% include Usage/EditUsageLegal.ejs %>
                <% include Usage/EditUsageEnd.ejs %>
                <% include Usage/EditUsageSync.ejs %>
                <% include Usage/EditUsageTransport.ejs %>
                <% include Usage/EditUsageExport.ejs %>

                <!-- Outlook view manager -->


                <div class="row">
                    <div class="form-group col-4 response-cell">
                        <label>Will end user have access to their archives?</label>
                        <%- make_custom_dropdown("usage_questions[allow_archive_access]",
                            usage_questions.allow_archive_access, ["Yes", "No"]) %>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" maxlength="5000" rows="5" name="usage_questions[comments]" placeholder="5000 characters max" form="usageForm"><%- usage_questions.comments %></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">
