<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Exo:700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Proofpoint - Customer Profile</title>

  <style media="screen">
    .navbar-brand {
      color: white;
    }

    .navbar {
      background-color: #343A40;
    }

    .custab {
      border: 1px solid #cccccc;
      padding: 5px;
      margin-top: 2%;
      box-shadow: 0.5px 0.5px 0.5px #cccccc;
      transition: 0.5s;
    }

    .custab:hover {
      box-shadow: 3px 3px 0px transparent;
      transition: 0.5s;
    }

    .container {
      max-width: 90%;
    }
  </style>
</head>

<body>
  <!-- As a link -->
  <nav class="navbar">
    <a class="navbar-brand" href="/index" style="font-family: 'Exo', sans-serif; font-size: 150%">Proofpoint</a>
    <% if (user) { %>
    <p class="my-2 my-sm-0" style="color: white;">Welcome, <%= user %>
    <% } %>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </p>
  </nav>
