<!-- Displaying POC questions -->
<div id="poc" class="display-header">
    <h5>
        <a href="#pocContent" data-toggle="collapse" onclick="change_arrow($(this));">
            POC
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
    </h5>

    <div id="pocContent" class="collapse">
        <div class="edit pull-right">
            <a href="#/" aria-hidden="true" id="editPOCLink" data-toggle="modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
            </a>
        </div>
        <br>

        <form id="pocForm" autocomplete="off" action="../index/<%= encodeURIComponent(customer.name) %>?_method=PUT" method="POST">
            <fieldset id="pocFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label for="customerName">Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= customer.name %>" name="poc_questions[name]">
                </div>

                <% include POC/EditPOCPOC.ejs %>
                <% include POC/EditPOCUAT.ejs %>

                <br>
                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" maxlength="5000" rows="5" name="poc_questions[comments]" placeholder="5000 characters max" form="pocForm"><%= poc_questions.comments %></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">
