<h5>
    <a href="#editECA-box-onedrive" style="color: lightseagreen; margin-left:3em;" data-toggle="collapse"
        data-toggle="collapse" onclick="change_arrow($(this));">
        Box & OneDrive
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editECA-box-onedrive" class="collapse">
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>For OneDrive, how do you authenticate?</label>
            <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.box_one_drive.auth %>"
                name="other_data_source_questions[enterprise_collaboration_archiving][box_one_drive][auth]">
        </div>
    </div>
</div>
<hr>
