<% include partials/show_header %>

    <!-- <script type="text/javascript" src="./scripts/new.js"></script> -->

    <% if (error_message != undefined && error_message != null) { %>
        <script>
            alert("<%= error_message %>");
        </script>
        <% } %>

            <div class="container">
                <div>
                    <div class="title" style="padding-top: 20px;">
                        <h5 style="color: mediumvioletred; font-size: 16px;">
                            <b>New Customer</b>
                        </h5>
                    </div>
                    <form class="" action="../new" method="POST">
                        <div class="form-group col-4">
                            <label for="customerName">Customer Name</label>
                            <input type="text" required class="form-control" id="customerName" placeholder="Customer Name" name="customer[name]">
                        </div>
                        <div class="form-group col-4">
                            <label for="salesRep">Sales Rep.</label>
                            <input type="text" class="form-control" id="salesRep" placeholder="Sales Rep." name="customer[salesRep]">
                        </div>
                        <div class="form-group col-4">
                            <label for="archivingSe">Archiving SE</label>
                            <input type="text" class="form-control" id="archivingSe" placeholder="Archiving SE" name="customer[archivingSe]">
                        </div>
                        <div class="form-group col-4">
                            <label for="accManager">Acc. Manager</label>
                            <input type="text" class="form-control" id="accManager" placeholder="Acc. Manager" name="customer[accManager]">
                        </div>
                        <div class="form-group col-4">
                            <label for="archivingSe">TEM</label>
                            <input type="text" class="form-control" id="tme" placeholder="TEM" name="customer[tem]">
                        </div>
                        <div class="form-group col-4">
                            <label for="archivingSe">TAM</label>
                            <input type="text" class="form-control" id="tam" placeholder="TAM" name="customer[tam]">
                        </div>
                        <div class="form-group col-4">
                            <label for="archivingSe">Implementation Specialist</label>
                            <input type="text" class="form-control" id="implementationSpecialist " placeholder="Implementation Specialist" name="customer[impSpecialist]">
                        </div>
                        <div class="form-group col-4">
                            <label for="archivingSe">Number of Users</label>
                            <input type="text" class="form-control" id="numberOfUsers" placeholder="Number of Users" name="customer[numberOfUsers]">
                        </div>
                        <div class="form-group col-4">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Location" name="customer[location]">
                        </div>
                        <div class="form-group col-4">
                            <label for="supervision">Supervision</label>
                            <input type="text" class="form-control" id="supervision" placeholder="Supervision" name="customer[supervision]">
                        </div>
                        <div class="form-group col-4">
                            <label for="status">Status</label>
                            <%- make_custom_dropdown("customer[status]", '', 
                    ["Waiting for PDQ", "Waiting for sales", "Waiting for finance", "Waiting for ops", "Waiting for customer", "Waiting for scheduling", "Deployment started", "Deployment complete/in production"]) %>
                        </div>
                        <div class="form-group col-4">
                            <label for="natIp">NAT IP</label>
                            <input type="text" class="form-control" id="natIp" placeholder="NAT IP" name="customer[natIp]">
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Incumbent Solution</label>
                            <input type="text" class="form-control" id="incumbentSolution" placeholder="Incumbent Solution" name="customer[incumbentSolution]">
                        </div>

                        <div class="title">
                            <h5 style="color: mediumvioletred; font-size: 16px;">
                                <b>Contact Info</b>
                            </h5>
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Name</label>
                            <input type="text" class="form-control" placeholder="Contacts" name="customer[contacts][name]">
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Title</label>
                            <input type="text" class="form-control" placeholder="Contacts" name="customer[contacts][title]">
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Email</label>
                            <input type="email" class="form-control" placeholder="Contacts" name="customer[contacts][email]">
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Phone</label>
                            <input type="text" class="form-control" placeholder="Contacts" name="customer[contacts][phone]">
                        </div>
                        <div class="form-group col-4">
                            <label for="contacts">Primary contact</label>
                            <%- make_custom_dropdown("customer[contacts][primary_contact]", '', ["Yes", "No"]) %>
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <% include partials/footer %>