<% include partials/header %>

<div class="">
	<div id="customerHeader" class="">
		<h3>{Customer Name Here}</h3>
	</div>
	<br>
	<div id="content" class="">
		<div id="detail" class="">
			<h4>Project Detail</h4>
		</div>
		<hr>
		<div id="generalInfo" class="">
			<h5>General Information</h5>
			<br>
			<div id="genralInfoContent" class="row">
				<div id="" class="col-4"><p><b>Customer Name </b>Metlife</p></div>
				<div id="" class="col-4"><p><b>Sales Rep. </b>Salesman</p></div>
				<div id="" class="col-4"><p><b>SE </b>Engineer</p></div>
				<div id="" class="col-4"><p><b>Acc. Manager </b>Manager</p></div>
				<div id="" class="col-4"><p><b>Number of Users </b>1234567</p></div>
				<div id="" class="col-4"><p><b>Location </b>CA</p></div>
				<div id="" class="col-4"><p><b>Supervision </b>Superv</p></div>
				<div id="" class="col-4"><p><b>NAT IP </b>IP Addr</p></div>
				<div id="" class="col-4"><p><b>Contacts </b>Name?</p></div>
				<div id="" class="col-4"><p><b>Status </b>Green</p></div>
				<div id="" class="col-4"><p><b>PFPT Protection </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>On-Prem </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>PFPT Product(s) in Use </b>TRAP</p></div>
				<div id="" class="col-4"><p><b>TAP URL Defense </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Compliance Getway Deployment </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>PFPT Encryption </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Gateway/Desktop </b>Gateway/Desktop</p></div>
			</div>
		</div>		
		<hr>
		<div id="emailSystem" class="">
			<h5>Email Systems</h5>
			<br>
		</div>
		<hr>
		<div id="journaling" class=""> 
			<h5>Journaling <a href="#journallingContainer" data-toggle="collapse"><i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
				<br>
			<div id="journallingContainer" class="collapse in">
			<p>Exchange Details</p>
				<p></p>
				<div id="exchangeDetails" class="row">
					<div id="" class="col-4"><p><b>Exchange On Prem </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>O365 </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Mixed Mode </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Number of Mailboxes </b>1234567</p></div>
					<div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
					<div id="" class="col-4"><p><b>Changes in Busess </b>Yes/No</p></div>
				</div>
				<p></p>
			<p>Mail Volume Metrics & Journaling</p>
				<p></p>
				<div id="mailVolume" class="row">
					<div id="" class="col-4"><p><b>Users To Be Journalled </b>3453345</p></div>
					<div id="" class="col-4"><p><b>Msg Per User(Week/Month) </b>10000 Msg</p></div>
					<div id="" class="col-4"><p><b>Message Volume Derive Method </b>Result</p></div>
					<div id="" class="col-4"><p><b>Avg. Message Size </b>89123</p></div>
					<div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
					<div id="" class="col-4"><p><b>All User Journalling </b>YesNo</p></div>
					<div id="" class="col-4"><p><b>O365(Time Line) </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Custom Configuration Notes </b>...</p></div>
				</div>				
			</div>
		</div>
		<hr>
		<div id="appliances" class="">
			<h5>Appliances</h5>
			<br>
				<div id="applianceSizing" class="row">
					<div id="" class="col-4"><p><b>Messages Per Day </b> 1234332</p></div>
					<div id="" class="col-4"><p><b>Avg. Message Size </b>100000</p></div>
					<div id="" class="col-4"><p><b>Number of Mailboxes </b>550213</p></div>
					<div id="" class="col-4"><p><b>Searches Per Day </b>89123</p></div>
					<div id="" class="col-4"><p><b>UI Logins Per Day </b>12345678910</p></div>
					<div id="" class="col-4"><p><b>Exports Per Day </b>213123112</p></div>
					<div id="" class="col-4"><p><b>Avg. Export Size </b>1TB</p></div>
					<div id="" class="col-4"><p><b>Active Directory Size </b>555GB</p></div>
					<div id="forDevOnly" class="col-12"><p style="color: red;">Note for DEV: Does the customer prefer virtual or HW appliances?\n confirm the customer has a VMWare Env\n Number of Apps Recommended\n How many of each purpose(UI, Export, Archiving, Stubbing)\n DR footprint\n Archive Proxy?</p></div>
				</div>
		</div>	
		<hr>
		<div id="otherDataSources" class="">
			<h5>Other Data Sources</h5>
		</div>
		<hr>
		<div id="desktopNetworkDr" class="">
			<h5>Desktop/Network/DR</h5>
		</div>
		<hr>
		<div id="usage" class="">
			<h5>Usage</h5>
		</div>
		<hr>
		<div id="import" class="">
			<h5>Import</h5>
		</div>
		<hr>
		<div id="poc" class="">
			<h5>POC</h5>
		</div>
		<hr>
		<div id="rfes" class="">
			<h5>RFEs</h5>
		</div>							
	</div>
</div>

<% include partials/footer %>