<% include partials/header %>

<div class="">
	<div id="customerHeader" class="">
		<h3>{Customer Name Here}</h3>
	</div>
	<br>
	<div id="content" class="">
		<div id="detail" class="">
			<h5>Project Detail</h5>
		</div>
		<hr>
		<div id="generalInfo" class="">
			<h6>General Information</h6>
		</div>		
		<hr>
		<div id="emailSystem" class="">
			<h6>Email Systems</h6>
		</div>
		<hr>
		<div id="journaling" class="">
			<h6>Journaling</h6>
		</div>
		<hr>
		<div id="appliances" class="">
			<h6>Appliances</h6>
		</div>	
		<hr>
		<div id="otherDataSources" class="">
			<h6>Other Data Sources</h6>
		</div>
		<hr>
		<div id="desktopNetworkDr" class="">
			<h6>Desktop/Network/DR</h6>
		</div>
		<hr>
		<div id="usage" class="">
			<h6>Usage</h6>
		</div>
		<hr>
		<div id="import" class="">
			<h6>Import</h6>
		</div>
		<hr>
		<div id="poc" class="">
			<h6>POC</h6>
		</div>
		<hr>
		<div id="rfes" class="">
			<h6>RFEs</h6>
		</div>							
	</div>
</div>

<% include partials/footer %>