<% include partials/header %>

    <div class="container" style="border: .2px solid gray; padding-right:25px; padding-left:25px; padding-bottom: 25px">
        <div id="customerHeader">
            <h1 style="text-align: center; padding-top:15px; font-size: 70px;">
                <%= customer.name %>
            </h1>
        </div>

        <div id="content">
            <div id="detail" class="display-header">
                <h4>Project Details</h4>
                <button type="button" value="Expand All" id="collapse-toggle" onclick="expand_collapse()" class="pull btn-primary">
                    Expand All
                </button>

                <button type="button" value="true" id="sync-forms" onclick="sync_email_systems_forms()" class="pull btn-primary">
                    Unsync Forms
                </button>
            </div>
            <hr class="rainbow">

            <% include sections/01-General.ejs %>

                <% include sections/02-EmailSystemsSE.ejs %>

                    <% include sections/03-EmailSystemsPS.ejs %>

                        <% include sections/04-Journaling.ejs %>

                            <% include sections/05-Appliances.ejs %>

                                <% include sections/06-OtherDataSources.ejs %>

                                    <% include sections/07-DesktopNetwork.ejs %>

                                        <% include sections/08-Usage.ejs %>

                                            <% include sections/09-Import.ejs %>

                                                <% include sections/10-POC.ejs %>

                                                    <% include sections/11-RFE.ejs %>

                                                        <% include sections/12-DesignSummary.ejs %>

        </div>
    </div>

    <script type="text/javascript" src="/scripts/show.js"></script>
    <script type="text/javascript" src="/scripts/sync_inputs.js"></script>

    <% include partials/footer %>