<% include partials/header %>

<script type="text/javascript" src="/scripts/show.js"></script>

<div class="container" style="border: .2px solid gray; padding-right:25px; padding-left:25px; padding-bottom: 25px">
    <div id="customerHeader">
        <h1 style="text-align: center;"><%= customer.name %></h1>
    </div>
    <br>
    <br>
    <div id="content">
        <div id="detail" class="display-header">
            <h4>Project Detail</h4>
            <button type="button" value="Expand All" id="collapse-toggle" onclick="expand_collapse()" class="pull">
                Expand All
            </button>
        </div>
        <hr class="rainbow">

        <% include sections/01-General %>

        <% include sections/02-EmailSystemsSE %>

        <% include sections/03-EmailSystemsPS %>

        <% include sections/04-Journaling %>

        <% include sections/05-Appliances %>

        <% include sections/06-OtherDataSources %>

        <% include sections/07-DesktopNetwork %>

        <% include sections/08-Usage %>

        <% include sections/09-Import %>

        <% include sections/10-POC %>

        <% include sections/11-RFE %>

        <% include sections/12-DesignSummary %>

    </div>
</div>

<% include partials/footer %>