<% include partials/header %>

<div class="container">
	<div id="customerHeader" class="">
		<h3>{Customer Name Here}</h3>
	</div>
	<br>
	<div id="content" class="">
		<div id="detail" class="">
			<h4>Project Detail</h4>
		</div>
		<hr>
		<div id="generalInfo" class="">
			<div id="generalInfoHeader">
				<div class="title">
					<h5>General Information</h5>
				</div>
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
			</div>
			<br>
			<div id="genralInfoContent1" class="row">
				<div id="" class="col-4"><p><b>Customer Name </b>Metlife</p></div>
				<div id="" class="col-4"><p><b>Sales Rep. </b>Salesman</p></div>
				<div id="" class="col-4"><p><b>SE </b>Engineer</p></div>
				<div id="" class="col-4"><p><b>Acc. Manager </b>Manager</p></div>
				<div id="" class="col-4"><p><b>Number of Users </b>1234567</p></div>
				<div id="" class="col-4"><p><b>Location </b>CA</p></div>
				<div id="" class="col-4"><p><b>Supervision </b>Superv</p></div>
				<div id="" class="col-4"><p><b>NAT IP </b>IP Addr</p></div>
				<div id="" class="col-4"><p><b>Contacts </b>Name?</p></div>
				<div id="" class="col-4"><p><b>Status </b>Green</p></div>
			</div>
			<p></p>
			<div id="genralInfoContent2" class="row">
				<div id="" class="col-4"><p><b>Are you currently using PFPT Protection? (PPS) </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Is your PPS POD or on-prem? </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>What other PFPT products do you own and are using? </b>TRAP</p></div>
				<div id="" class="col-4"><p><b>Are you using TAP URL defense? </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Is BATV (bounce address tag validation) enabled? </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Do you have Compliance Gateway deployed? </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Are you using PFPT Encryptiion? </b>Yes/No</p></div>
				<div id="" class="col-4"><p><b>Gateway or Desktop plugin? </b>Gateway/Desktop</p></div>
			</div>
		</div>		
		<hr>
		<div id="emailSystem" class="">
			<h5><a href="#emailContainer" data-toggle="collapse">Email Systems <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="emailContainer" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
			<p>On Prem Exchange w/ On Prem Appliances</p>
				<p></p>
				<div id="emailSystemContent1" class="row">
					<div id="" class="col-4"><p><b>What versions of Exchange are running? </b>Version</p></div>
					<div id="" class="col-4"><p><b>Do you have an Enterprise CAL? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Please provide a diagram of your exchange infrastructure </b>DIAGRAM?</p></div>
					<div id="" class="col-4"><p><b>No. of journal mailboxes </b>12345</p></div>
					<div id="" class="col-4"><p><b>How are your journal rules defined (hub transport or database)? </b>Database</p></div>
					<div id="" class="col-4"><p><b>Are journal mailboxes on their own DB? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>How much extra storage is available on the Journaling Mailbox Databases? </b>5TB</p></div>
					<div id="" class="col-4"><p><b>Are DAGs being used? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Multi-site redundancy </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Include your AD and diagram </b>HOW?</p></div>
					<div id="" class="col-4"><p><b>Are you using RMS? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Is Enable Journal Decryption set to: </b>True/False</p></div>				
				</div>
			<p>Active Directory Details</p>
				<p></p>
				<div id="emailSystemContent2" class="row">
					<div id="" class="col-4"><p><b>Resource forest deployment? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Are you using multi-forest? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Are all mailboxes within a single resource forest? (this scenario only supported with SAML or Remote Auth)</b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>what is the structure of multi-domain architecture / their relationships? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Do you require a secure connection to LDAP? (Note: PFPT does not support a secure LDAP)</b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Are you using RMS? </b>Yes/No</p></div>
				</div>
			<p>on prem EXCH (hosted appliance)</p>
				<p></p>
				<div id="emailSystemContent3" class="row">
					<div id="" class="col-4"><p><b>Are you using RMS? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Is Enable Journal Decryption set to True / False? </b>True/False</p></div>
					<div id="" class="col-4"><p><b>What versions of Exchange are running? </b>Version</p></div>
					<div id="" class="col-4"><p><b>Does the customer have an Enterprise Exchange license? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>How are your journal rules defined (hub transport or database)? </b>Database</p></div>
					<div id="" class="col-4"><p><b>Please provide a diagram of your exchange infrastructure</b>Diagram?</p></div>
					<div id="" class="col-4"><p><b>How are your DAGs being used? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Multi-site redundancy </b>Response</p></div>
					<div id="" class="col-4"><p><b>Resource forest deployment</b>Answer</p></div>
					<div id="" class="col-4"><p><b>Include your AD and diagram</b>HOW?</p></div>
					<div id="" class="col-4"><p><b>are you using multi-forest? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Do you require a secure connection to LDAP? (Note: PFPT does not support a secure LDAP)</b>Yes/No</p></div>
				</div>
			<p>O365 (Hosted Appliances)</p>
				<p></p>
				<div id="emailSystemContent4" class="row">
					
				</div>
			<p>on prem EXCH + O365 (on prem appliance)</p>
				<p></p>
				<div id="emailSystemContent5" class="row">
					
				</div>
			<p>on prem EXCH + O365 (hosted appliance)</p>
				<p></p>
				<div id="emailSystemContent6" class="row">
					
				</div>					
			</div>		
		</div>
		<hr>
		<div id="journaling" class=""> 
			<h5> <a href="#journallingContainer" data-toggle="collapse">Journaling <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
				<br>
			<div id="journallingContainer" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
			<p>Exchange Details</p>
				<p></p>
				<div id="exchangeDetails" class="row">
					<div id="" class="col-4"><p><b>Exchange On Prem </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>O365 </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Mixed Mode </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Number of Mailboxes </b>1234567</p></div>
					<div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
					<div id="" class="col-4"><p><b>Changes in Busess </b>Yes/No</p></div>
				</div>
				<p></p>
			<p>Mail Volume Metrics & Journaling</p>
				<p></p>
				<div id="mailVolume" class="row">
					<div id="" class="col-4"><p><b>Users To Be Journalled </b>3453345</p></div>
					<div id="" class="col-4"><p><b>Msg Per User(Week/Month) </b>10000 Msg</p></div>
					<div id="" class="col-4"><p><b>Message Volume Derive Method </b>Result</p></div>
					<div id="" class="col-4"><p><b>Avg. Message Size </b>89123</p></div>
					<div id="" class="col-4"><p><b>Avg. Daily Journal Msg Count </b>12345678910</p></div>
					<div id="" class="col-4"><p><b>All User Journalling </b>YesNo</p></div>
					<div id="" class="col-4"><p><b>O365(Time Line) </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Custom Configuration Notes </b>...</p></div>
				</div>				
			</div>
		</div>
		<hr>
		<div id="appliances" class="">
			<h5><a href="#applianceSizing" data-toggle="collapse">Appliances <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
				<div id="applianceSizing" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
					<div id="appliaceDetails" class="row">
						<div id="" class="col-4"><p><b>Messages Per Day </b> 1234332</p></div>
						<div id="" class="col-4"><p><b>Avg. Message Size </b>100000</p></div>
						<div id="" class="col-4"><p><b>Number of Mailboxes </b>550213</p></div>
						<div id="" class="col-4"><p><b>Searches Per Day </b>89123</p></div>
						<div id="" class="col-4"><p><b>UI Logins Per Day </b>12345678910</p></div>
						<div id="" class="col-4"><p><b>Exports Per Day </b>213123112</p></div>
						<div id="" class="col-4"><p><b>Avg. Export Size </b>1TB</p></div>
						<div id="" class="col-4"><p><b>Active Directory Size </b>555GB</p></div>
						<div id="forDevOnly" class="col-12"><p style="color: red;">Note for DEV: Does the customer prefer virtual or HW appliances?\n confirm the customer has a VMWare Env\n Number of Apps Recommended\n How many of each purpose(UI, Export, Archiving, Stubbing)\n DR footprint\n Archive Proxy?</p></div>			
					</div>
				</div>
		</div>	
		<hr>
		<div id="otherDataSources" class="">
			<h5><a href="#otherDataSourcesContainer" data-toggle="collapse">Other Data Sources<i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="otherDataSourcesContainer" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
				<p>Custom Content Archiving</p>
				<div id="customContentArchiving" class="row">
					<div id="" class="col-4"><p><b>Do you have custom applications that generate content that needs to be archived?</b> Yes/No</p></div>
					<div id="" class="col-4"><p><b>Provide a diagram of how content is captured and submitted </b>Diagram?</p></div>
				</div>
				<p>Public Social Archiving</p>
				<div id="publicSocialArchiving" class="row">
					<div id="" class="col-4"><p><b>Which of these do you need to capture? </b> DROPDOWN</p></div>
					<div id="" class="col-4"><p><b>How many accounts for each source need to be captured? </b> 1234332</p></div>
					<div id="" class="col-4"><p><b>What are you using to archiving this content today? </b> Response</p></div>
				</div>
				<p>Enterprise Collaboration Archiving</p>
				<div id="enterpriseCollabArchiving" class="row">
					<div id="" class="col-4"><p><b>How many users are there on each platform? </b>100000</p></div>
					<div id="" class="col-4"><p><b>How many of these users need to be archived</b>100000</p></div>
					<div id="" class="col-4"><p><b>% breakdown of Active users? </b>50%</p></div>
					<div id="" class="col-4"><p><b>Do you want to capture all user activity on each platform? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Average volume of messages/day?</b>20000</p></div>
					<div id="" class="col-4"><p><b>5. What is the most active profile like in terms of message and file creation and updates (which are treated as new uploads)? </b>Response</p></div>
					<div id="" class="col-4"><p><b>What is their retention policy? </b>7 Years</p></div>
					<div id="" class="col-4"><p><b>Is the customer a PFPT archiving customer? </b>Yes/No</p></div>
				</div>
			</div>
		</div>
		<hr>
		<div id="desktopNetworkDr" class="">
			<h5><a href="#desktopContent" data-toggle="collapse">Desktop/Network/DR <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="desktopContent" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
			<p>Network & Security</p>
				<p></p>
				<div id="networkSecurity" class="row">
					<div id="" class="col-4"><p><b>DMZ </b>Response</p></div>
					<div id="" class="col-4"><p><b>Fiewalls </b>Ironport</p></div>
					<div id="" class="col-4"><p><b>VPN Connection to PFPT Required </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Enable access to user outside network </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Load Balancer/VIP </b>Response</p></div>
					<div id="" class="col-4"><p><b>NAT IP List </b>Answer</p></div>
					<div id="" class="col-4"><p><b>Proxy Servers </b>Response</p></div>
				</div>
				<p></p>
			<p>End User Desktop Environment</p>
				<p></p>
				<div id="endUserEnv" class="row">
					<div id="" class="col-4"><p><b>What browsers do user have access to </b>Chrome,IE,Firefox</p></div>
					<div id="" class="col-4"><p><b>What versions of each available browsers are allowed</b>Version Number</p></div>
					<div id="" class="col-4"><p><b>Do you run IE 11 </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Can users enable compatibility mode in IE 11 </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Is IE deployed in Enterprise Mode? </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Can users enable pop-ups for specific URLs </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>O365(Time Line) </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>Do users have access to: Chrome/Firefox/Edge </b>Choices</p></div>
				</div>	
				<p></p>
			<p>Disaster Recovery / High Availability</p>
				<p></p>	
				<div id="disasterRecovery" class="row">
					<div id="" class="col-4"><p><b>Do you have Exchange and AD being replicated to a secondary data center </b>Yes/No</p></div>
					<div id="" class="col-4"><p><b>What is the DR/HA configuration look like </b>Response</p></div>
					<div id="" class="col-4"><p><b>Can you provide a diagram of the Exchange environment with the DR/HA included </b>Answer</p></div>
				</div>			
			</div>
		</div>
		<hr>
		<div id="usage" class="">
			<h5><a href="#usageContaner" data-toggle="collapse">Usage <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="usageContaner" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
				<div>
					<p>Supervision</p>
					<div id="usageSupervision" class="row">
						
					</div>
					<p>Stubbing</p>
					<div id="usageStubbing" class="row">
						
					</div>
					<p>Selective Disposition</p>
					<div id="usageSelectiveDisposition" class="row">
						
					</div>
					<p>Content Collector - Files</p>
					<div id="usageContentCollectorFiles" class="row">
						
					</div>
					<p>Content Collector - PSTs</p>
					<div id="usageContentCollectorPsts" class="rows">
						
					</div>
					<p>Legal Holds</p>
					<div id="usageLegalHolds" class="row">
						
					</div>
					<p>End User Search</p>
					<div id="usageEndUserSearch" class="row">
						
					</div>
					<p>Folder Sync</p>
					<div id="usageFolderSync" class="row">
						
					</div>
					<p>Transport Agent</p>
					<div id="usageTransportAgent" class="row">
						
					</div>
					<p>Export</p>
					<div id="usageExport" class="row">
						
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div id="import" class="">
			<h5><a href="#importContent" data-toggle="collapse">Import <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="importContent" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
				<div id="importDetails" class="row">
					<div id="" class="col-4"><p><b>SoW/Service Brief </b> Answer</p></div>
					<div id="" class="col-4"><p><b>Existing Archive </b> Response</p></div>
					<div id="" class="col-4"><p><b>Who is Doing the Conversion </b> Answer</p></div>
					<div id="" class="col-4"><p><b>Size </b> 5TB</p></div>
					<div id="" class="col-4"><p><b>Storage </b> Storage Solution</p></div>
					<div id="" class="col-4"><p><b>Format </b> PST</p></div>
					<div id="" class="col-4"><p><b>Expected Timeline </b> Length</p></div>
					<div id="" class="col-4"><p><b>Retention Policy </b> 7 Years</p></div>
					<div id="" class="col-4"><p><b>Drive Encryption Type </b> Veracrypt</p></div>				
				</div>
			</div>
		</div>
		<hr>
		<div id="poc" class="">
			<h5><a href="#pocContent" data-toggle="collapse">POC <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<br>
			<div id="pocContent" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
				<div id="pocDetails" class="row">
					<div id="" class="col-4"><p><b>Sandbox POC </b> Yes/No</p></div>
					<div id="" class="col-4"><p><b>Prod Based POC </b> Yes/No</p></div>
					<div id="" class="col-4"><p><b>What Will Be Tested On POC </b> Reason</p></div>
					<div id="" class="col-4"><p><b>Customer Agreement to Success Criteria </b> Yes/No</p></div>
					<div id="" class="col-4"><p><b>Environment </b> POC/UAT</p></div>
					<div id="" class="col-4"><p><b>Time Needed </b> 5 Months</p></div>
					<div id="" class="col-4"><p><b>How to Convert the Environment and/or Data to PROD </b> HOW</p></div>
					<div id="" class="col-4"><p><b>Appliance(s) Installation Location </b> Production/Lab</p></div>
					<div id="" class="col-4"><p><b>PROD: Locations and Environments Needed </b> Answer</p></div>
					<div id="" class="col-4"><p><b>Mailboxes that will be Journaled to POC  </b> 1234332</p></div>					
				</div>
			</div>
		</div>
		<hr>
		<div id="rfes" class="">
			<h5><a href="#rfeContent" data-toggle="collapse">RFEs <i class="fa fa-arrows-v" aria-hidden="true"></i>
</a></h5>
			<div id="rfeContent" class="collapse in">
				<div class="edit pull-right">
					<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
				</div>
				<div id="refDetails" class="row">
					<div id="" class="col-4"><p>Content?</p></div>
				</div>
			</div>
		</div>							
	</div>
</div>

<% include partials/footer %>