<% include partials/header %>
<style>
.sidebar-wrapper {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;

  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #CCCCCC;
}

.sidebar-wrapper a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.sidebar-wrapper a:hover {
}

.page-content {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar-wrapper {padding-top: 15px;}
  .sidebar-wrapper a {font-size: 18px;}
}

.jumbotron{
  background: white;
  position: fixed;
  display: block;
}

.subnav{
  margin-top: 3%;
  background: none;
}
</style>
<div class="page-wrapper">
  <nav id="" class="sidebar-wrapper">
    <div class="sidebar-content">
      <a class="navbar-brand" href="#"><h3><%= customer.name %></h3></a>
      <div class="sidebar-menu">
        <nav class="nav flex-column nav-pills" id="sidebar" role="tablist" aria-orientation="vertical">
          <a class="nav-link ml-2 my-1 active" id="general-tab" data-toggle="pill" href="#general-content" role="tab" aria-controls="general-content" aria-selected="true">General</a>
          <a class="nav-link ml-2 my-1" id="emailsystems-tab" data-toggle="pill" href="#emailsystems-content" role="tab" aria-controls="emailsystems-content" aria-selected="true">Email Systems</a>
<!--           <nav class="nav flex-column nav-pills" id="emailsystems-dropdown">
            <a class="nav-link ml-3 my-1" href="#editExchangeDetails">Exchange Details</a>
            <a class="nav-link ml-3 my-1" href="#editActiveDirectoryDetails">Active Directory Details</a>
            <a class="nav-link ml-3 my-1" href="#editO365Details">O365 Details</a>
          </nav> -->
          <a class="nav-link ml-2 my-1" id="sizing-tab" data-toggle="pill" href="#sizing-content" role="tab" aria-controls="sizing-content" aria-selected="true">Sizing</a>
          <a class="nav-link ml-2 my-1" id="connectorplatform-tab" data-toggle="pill" href="#connectorplatform-content" role="tab" aria-controls="connectorplatform-content" aria-selected="true">Connector Platform</a>
          <a class="nav-link ml-2 my-1" id="desktopnetwork-tab" data-toggle="pill" href="#desktopnetwork-content" role="tab" aria-controls="desktopnetwork-content" aria-selected="true">Desktop/Network/DR</a>
          <a class="nav-link ml-2 my-1" id="usage-tab" data-toggle="pill" href="#usage-content" role="tab" aria-controls="usage-content" aria-selected="true">Usage</a>
<!--           <nav class="nav flex-column nav-pills" id="usage-dropdown">
            <a class="nav-link ml-3 my-1" href="#editUsage-Legal">Legal Holds</a>
            <a class="nav-link ml-3 my-1" href="#editusage-export">Export</a>
          </nav> -->
          <a class="nav-link ml-2 my-1" id="import-tab" data-toggle="pill" href="#import-content" role="tab" aria-controls="import-content" aria-selected="false">Import</a>
          <a class="nav-link ml-2 my-1" id="poc-tab" data-toggle="pill" href="#poc-content" role="tab" aria-controls="poc-content" aria-selected="true">POC</a>
          <a class="nav-link ml-2 my-1" id="rfe-tab" data-toggle="pill" href="#rfe-content" role="tab" aria-controls="rfe-content" aria-selected="false">RFEs</a>
          <a class="nav-link ml-2 my-1" id="supervision-tab" data-toggle="pill" href="#supervision-content" role="tab" aria-controls="supervision-content" aria-selected="true">Supervision</a>
<!--           <nav class="nav flex-column nav-pills" id="supervision-dropdown">
            <a class="nav-link ml-3 my-1 dropdown-toggle" href="#editSupervisionOverview">Current Supervision Overview – Digital Communication Review</a>
            <nav class="nav flex-column nav-pills" id="editSupervisionOverview-dropdown">
              <a class="nav-link ml-4 my-1" href="#editSupervision-MessageProfile" >Message Sampling Profiles</a>
            </nav>
            <a class="nav-link ml-3 my-1" href="#editSupervisoryWorkflow">Supervisory Workflow</a>
            <a class="nav-link ml-3 my-1" href="#editAdministrativeFunctions">Administrative Functions</a>
            <a class="nav-link ml-3 my-1" href="#editRuleLexiconMaintenance">Rule/Lexicons Maintenance</a>
          </nav> -->
        </nav>
      </div>
    </div>
  </nav>
  <main class="page-content toggled">
    <div class="container-fluid">
      <div class="container">
        <div class="tab-content" id="content">
          <div class="tab-pane fade show active" id="general-content" role="tabpanel" aria-labelledby="general-tab">
            <% include sections/01-General.ejs %>
          </div>
          <div class="tab-pane fade" id="emailsystems-content" role="tabpanel" aria-labelledby="emailsystems-tab">
            <% include sections/02-EmailSystems.ejs %>
          </div>
          <div class="tab-pane fade" id="sizing-content" role="tabpanel" aria-labelledby="sizing-tab">
            <% include sections/03-Sizing.ejs %>
          </div>
          <div class="tab-pane fade" id="connectorplatform-content" role="tabpanel" aria-labelledby="connectorplatform-tab">
            <% include sections/04-ConnectorPlatform.ejs %>
          </div>
          <div class="tab-pane fade" id="desktopnetwork-content" role="tabpanel" aria-labelledby="desktopnetwork-tab">
            <% include sections/05-DesktopNetwork.ejs %>
          </div>
          <div class="tab-pane fade" id="usage-content" role="tabpanel" aria-labelledby="usage-tab">
            <% include sections/06-Usage.ejs %>
          </div>
          <div class="tab-pane fade" id="import-content" role="tabpanel" aria-labelledby="import-tab">
            <% include sections/07-Import.ejs %>
          </div>
          <div class="tab-pane fade" id="poc-content" role="tabpanel" aria-labelledby="poc-tab">
            <% include sections/08-POC.ejs %>
          </div>
          <div class="tab-pane fade" id="rfe-content" role="tabpanel" aria-labelledby="rfe-tab">
            <% include sections/09-RFE.ejs %>
          </div>
          <div class="tab-pane fade" id="supervision-content" role="tabpanel" aria-labelledby="supervision-tab">
            <% include sections/10-Supervision.ejs %>
          </div>
          <div id="print-all-content">
            <% include sections/01-General.ejs %>
            <% include sections/02-EmailSystems.ejs %>
            <% include sections/03-Sizing.ejs %>
            <% include sections/04-ConnectorPlatform.ejs %>
            <% include sections/05-DesktopNetwork.ejs %>
            <% include sections/06-Usage.ejs %>
            <% include sections/07-Import.ejs %>
            <% include sections/08-POC.ejs %>
            <% include sections/09-RFE.ejs %>
            <% include sections/10-Supervision.ejs %>
          </div>
          <div id="print-general-content">
            <% include sections/01-General.ejs %>
          </div>
          <div id="print-emailsystems-content">
            <% include sections/02-EmailSystems.ejs %>
          </div>
          <div id="print-sizing-content">
            <% include sections/03-Sizing.ejs %>
          </div>
          <div id="print-connectorplatform-content">
            <% include sections/04-ConnectorPlatform.ejs %>
          </div>
          <div id="print-desktopnetwork-content">
            <% include sections/05-DesktopNetwork.ejs %>
          </div>
          <div id="print-usage-content">
            <% include sections/06-Usage.ejs %>
          </div>
          <div id="print-import-content">
            <% include sections/07-Import.ejs %>
          </div>
          <div id="print-poc-content">
            <% include sections/08-POC.ejs %>
          </div>
          <div id="print-rfe-content">
            <% include sections/09-RFE.ejs %>
          </div>
          <div id="print-supervision-content">
            <% include sections/10-Supervision.ejs %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

    <script type="text/javascript" src="/scripts/show.js"></script>
    <script type="text/javascript" src="/scripts/sync_inputs.js"></script>

    <% include partials/footer %>
