<div class="col-4"><p><b>Files</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.files) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Skype in the cloud</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.skype_in_cloud) { %><i
            class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Skype on Prem</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.skype_on_prem) { %><i
            class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Lync on Prem</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.lync_on_prem) { %><i
            class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>One Drive</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.one_drive) { %><i
            class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Box</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.box) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Bloomberg</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.bloomberg) { %><i
            class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Yammer</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.yammer) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Jive</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.jive) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Chatter</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.chatter) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Slack</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.slack) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>

<div class="col-4"><p><b>Symphony</b>
    <input hidden type="checkbox"><% if(other_data_source_questions.enterprise_collaboration_archiving.needs.symphony) { %><i class="fa fa-check"></i>
    <% } %>
</p></div>
