<div id="editO365Details">
    <p><b>O365 Details</b></p>
    <div class="row">
        <div class="form-group col-4 response-cell">
            <label>What O365 license level do you have?</label>
            <%- make_custom_dropdown("email_questions[O365_details][O365_version]",
                email_questions.O365_details.O365_version, ["e1", "e2", "e3", "e4", "e5"], "O365_version") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are you maintaining AD on-prem?</label>
            <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_on_prem_AD]",
                    email_questions.O365_details.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>Are you maintaining AD in Azure?</label>
            <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_azure]",
                    email_questions.O365_details.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
        </div>
        <div class="form-group col-4 response-cell">
            <label>When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?</label>
            <%- make_custom_dropdown("email_questions[O365_details][is_admin_in_AD_or_azure]",
                    email_questions.O365_details.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
        </div>
    </div>
</div>
