<h5>
    <a href="#editUsage-Supervision" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Supervision
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editUsage-Supervision" class="collapse">
    <% include EditUsageSupervision/EditUsageSupervisionNotes.ejs %>
    <% include EditUsageSupervision/EditUsageSupervisionRandom.ejs %>
    <% include EditUsageSupervision/EditUsageSupervisionRequirements.ejs %>
</div>
<hr>
