<h5>
    <a href="#editusage-transport" style="color: mediumvioletred" data-toggle="collapse" onclick="change_arrow($(this));">
        Transport Agent
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editusage-transport" class="collapse">
    <div class="col">
        <br>
        <input type="text" class="form-control" placeholder="No response set" value="<%= usage_questions.transport_agent %>" name="usage_questions[transport_agent]">
        <p>Note: This feature requires customer to have .NET 3.5 installed.</p>
    </div>
</div>
<hr>
