<h5>
    <a href="#editECA-symphony" style="color: lightseagreen; margin-left:3em;" data-toggle="collapse" onclick="change_arrow($(this));">
        Symphony
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
</h5>

<div id="editECA-symphony" class="collapse">
    <div class="form-group col-4 response-cell">
        <label>What license level do they have?</label>
        <input type="text" class="form-control" placeholder="No response set" value="<%= other_data_source_questions.enterprise_collaboration_archiving.symphony.license %>"
            name="other_data_source_questions[enterprise_collaboration_archiving][symphony][license]">
    </div>
</div>
